dvc[gdrive]==2.41.1
ipython==8.0.1
matplotlib==3.5.1
mljar-supervised==0.11.3
numpy==1.23.4
omegaconf==2.3.0
openpyxl==3.0.10
optuna==3.0.3
pandas==1.4.4
pillow==9.2.0
pre-commit==2.21.0
scikit-learn==1.1.2
scipy==1.8.1
toml==0.10.2
tomli==2.0.1
tqdm==4.64.1
xlsxwriter==3.0.3
